.siteBar {
  z-index: 2;
  position: fixed;
  top: 150px;
  display: flex;
  align-items: center;
  background-color: #326EAA;
  border-radius: 50px 0 0 50px;
  padding: 0 30px;
  transition: padding 0.5s, right 0.5s;
  letter-spacing: 2px;
  box-shadow: 20px 22px 23px -15px rgba(0,0,0,0.75),
    inset 0 0 19px 3px rgba(0, 64, 107, 0.75);

  &:hover {
    right: -10px;
    padding: 30px;
    border-radius: 100px 0 0 100px;
  }

  &__heading {
    color: #fff;
    font-size: 20px;
    margin-right: 50px;
  }

  &__info {
    display: flex;
    align-items: center;
  }

  &__item {
    margin-right: 20px;
    text-align: center;
    font-weight: 300;
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.199);

    &Text {
      font-size: 20px;
      margin-bottom: 0;
    }
  }

  &__button {
    display: block;

    &--none {
      display: none;
    }
  }
}

.mobileSiteBar {
 display: none;
}

@media (max-width: 770px) {
  .siteBar {
    display: none;
  }

  .mobileSiteBar {
    padding: 100px 15% 0;
    display: block;
    text-align: center;
  }
}
