.card {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.75);
   border-radius: 5px;
   transition: box-shadow 0.7s;

   &__removeProduct {
     z-index: 1;
     position: absolute;
     right: 10px;
     top: 10px;
     padding: 0;
     border: 0;
     border-radius: 50%;
     height: 30px;
     width: 30px;
     transition: 0.5s;

     &:hover {
       cursor: pointer;
       background-color: rgb(255, 206, 206);
       transform: rotate(90deg) scale(0.8);
     }

     &--none {
       display: none;
     }
   }

   &:hover {
     box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
   }

   &:hover &__image {
     transform: scale(1.2) rotate(10deg);
   }

   &__imageBox {
    text-align: center;
    height: 250px;
    width: 100%;
    padding: 10px;
    overflow: hidden;
   }

   &__image {
     height: 200px;
     transition: transform 0.7s;
   }

   &__infoBox {
    background-color: rgba(208, 255, 255, 0.788);
    padding: 0 10px;
   }
 }

 .infoBox {
   &__heading {
    padding: 10px 0;
   }

   &__id {
    padding: 10px 0;
   }

   &__description {
    text-align: justify;
    padding-left: 30px;
    height: 100px;
    overflow: hidden;
   }

   &__price {
    text-align: right;
    padding: 30px;
   }
 }
